absl-py==2.1.0
aiofiles==23.2.1
aiohappyeyeballs==2.4.2
aiohttp==3.10.8
aiosignal==1.3.1
altair==5.4.0
annotated-types==0.7.0
anyascii==0.3.2
anyio==3.7.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==24.2.0
audioread==3.0.1
av==10.0.0
babel==2.16.0
bangla==0.0.2
blis==0.7.11
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.7
boto3==1.35.2
botocore==1.35.2
Brotli==1.1.0
cached_path==1.6.3
cachetools==5.5.0
catalogue==2.0.10
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
click==7.1.2
cloudpathlib==0.19.0
cn2an==0.5.22
colorama==0.4.6
coloredlogs==15.0.1
confection==0.1.5
contourpy==1.2.1
coqpit==0.0.17
ctranslate2==3.24.0
cycler==0.12.1
cymem==2.0.8
Cython==3.0.11
dateparser==1.1.8
decorator==4.4.2
Deprecated==1.2.14
Distance==0.1.3
docopt==0.6.2
dtw-python==1.4.4
einops==0.8.0
encodec==0.1.1
eng_to_ipa==0.0.2
eunjeon==0.4.0
exceptiongroup==1.2.2
fastapi==0.112.1
faster-whisper==0.9.0
ffmpeg-python==0.2.0
ffmpy==0.4.0
filelock==3.13.4
Flask==2.0.2
flatbuffers==2.0.7
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.6.1
fugashi==1.3.0
future==1.0.0
g2p-en==2.1.0
g2pkk==0.1.2
gast==0.4.0
google-api-core==2.19.1
google-auth==2.34.0
google-cloud-core==2.4.1
google-cloud-storage==2.18.2
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.63.1
gradio==3.48.0
gradio_client==0.6.1
grpcio==1.65.5
gruut==2.2.3
gruut-ipa==0.13.0
gruut_lang_de==2.0.1
gruut_lang_en==2.0.1
gruut_lang_es==2.0.1
gruut_lang_fr==2.0.2
h11==0.12.0
h2==4.1.0
h5py==3.11.0
hangul-romanize==0.1.0
hpack==4.0.0
httpcore==0.13.7
httpx==0.19.0
huggingface-hub==0.23.5
humanfriendly==10.0
hyperframe==6.0.1
idna==3.7
imageio==2.35.1
imageio-ffmpeg==0.5.1
importlib_metadata==8.4.0
importlib_resources==6.4.3
inflect==7.0.0
isodate==0.6.1
itsdangerous==2.2.0
jaconv==0.4.0
jamo==0.4.1
jieba==0.42.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jsonlines==1.2.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
keras==2.7.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
langcodes==3.4.1
langid==1.1.6
language_data==1.2.0
lazy_loader==0.4
libclang==18.1.1
librosa==0.9.1
llvmlite==0.43.0
loguru==0.7.2
lxml==4.9.4
marisa-trie==1.2.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
mdurl==0.1.2
mecab-python3==1.0.9
melotts @ git+https://github.com/myshell-ai/MeloTTS.git@5b538481e24e0d578955be32a95d88fcbde26dc8
more-itertools==10.4.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
murmurhash==1.0.10
mutagen==1.47.0
MyShell-OpenVoice @ git+https://github.com/myshell-ai/OpenVoice.git@2739f7dfc06f8131ca1e53c73d56985014599e76
narwhals==1.5.0
networkx==2.8.8
nltk==3.9.1
norbert==0.2.1
num2words==0.5.12
numba==0.60.0
numpy==1.22.0
onnxruntime==1.19.0
openai-whisper==20230314
opt-einsum==3.3.0
orjson==3.10.7
packaging==24.1
pandas==1.5.3
pillow==10.2.0
plac==1.4.3
platformdirs==4.2.2
pooch==1.8.2
preshed==3.0.9
proces==0.1.7
proglog==0.1.10
proto-plus==1.24.0
protobuf==3.19.6
psutil==6.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycountry==24.6.1
pycparser==2.22
pycryptodome==3.20.0
pycryptodomex==3.20.0
pydantic==2.8.2
pydantic_core==2.20.1
pydub==0.25.1
Pygments==2.18.0
pykakasi==2.2.1
pynndescent==0.5.13
pyparsing==3.1.2
pypinyin==0.50.0
pyreadline3==3.4.1
pysbd==0.3.4
PySocks==1.7.1
python-crfsuite==0.9.10
python-dateutil==2.9.0.post0
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.2
referencing==0.35.1
regex==2024.7.24
requests==2.32.3
resampy==0.4.3
rfc3986==1.5.0
rich==13.7.1
rpds-py==0.20.0
rsa==4.9
s3transfer==0.10.2
safetensors==0.4.5
scikit-learn==1.5.1
scipy==1.11.4
semantic-version==2.10.0
six==1.16.0
smart-open==7.0.4
sniffio==1.3.1
soundfile==0.12.1
soxr==0.5.0.post1
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spleeter==2.4.0
srsly==2.4.8
starlette==0.38.2
streamlink==5.4.0
SudachiDict-core==20240716
SudachiPy==0.6.8
sympy==1.13.2
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.7.4
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
thinc==8.2.5
threadpoolctl==3.5.0
tiktoken==0.3.1
tokenizers==0.13.3
torch==2.4.0+cu118
torchaudio==2.4.0+cu118
torchvision==0.19.0+cu118
tqdm==4.66.5
trainer==0.0.36
transformers==4.27.4
TTS==0.22.0
txtsplit==1.0.0
typer==0.3.2
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
umap-learn==0.5.6
Unidecode==1.3.7
unidic==1.1.0
unidic-lite==1.0.8
urllib3==1.26.19
uvicorn==0.30.6
waitress==2.1.2
wasabi==0.10.1
wavmark==0.0.3
weasel==0.4.1
websocket-client==1.8.0
websockets==13.1
Werkzeug==2.0.3
whisper-timestamped==1.14.2
win32-setctime==1.1.0
wrapt==1.16.0
yarl==1.13.1
yt-dlp==2024.10.7
zipp==3.20.0
